@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url('~fonts/frederickathegreat.ttf') format('truetype');
}

#logo h1 {
  font-family: "Fredericka the Great";
}
