@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 800;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url('~fonts/fredokaone.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt-Light'), url('~fonts/prompt-light.ttf') format('truetype');
}

body {
  max-width: 1024px;
}

.sans-serif {
  font-family: 'avenir next', avenir, 'prompt', 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.serif {
  font-family: 'Fredoka One', cursive;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:visited {
  color: inherit;
}

a#identity {
  border: none;
}

.notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
